
/* -------- Variables -------- */
:root{

  /* Colours */
  --green-light: #D4E9E2;
  --green-dark: #1E3932;
  --white: #ffffff;
  --black: #000000;
  --gray: #ededed;

  /* Text propierties */
  --main-font: 'Open Sans', sans-serif;
  --line-height: 35px;
  --font-p: .9rem;
  --font-p-title: 1rem;
  --font-title: 2rem;
  --bold: 500;
  --nav-item-weight: 700;
  --extra-bold: 700;
  --text-gray: #808080;
  --small: .8rem;
}

*{  
  text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr{
  height: 1px;
  background-color: var(--gray);
  border: none;
}
section{
  margin-top: 1.5rem;
}

/* Grids */
.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* -------- Index -------- */

/* Header */
.header{
  display: flex;
  align-items: center;
  background-color: var(--gray);
  grid-column: 1/-1;
}

.navbar-content{
  display: flex;
  flex-direction: row;
}

/* Nav */
.nav__img{
    width: 50px;
    height: 50px;
}

.nav__items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__items_left,
.nav__items_right{
  display: flex;
  flex-direction: row;
}
.nav__item{
  color: var(--black);
  padding: 1rem;
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
}

@media screen and (max-width: 768px){
  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav__img{
    width: 50px;
    height: 50px;
  }

  .nav__items{
    display: none;
  }
}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}

.footer__nav{
  display: flex;
  flex-direction: row;
}

.footer__items{
  padding: 0rem 3rem 0rem 0rem;
}

.footer__item{
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
}

.privacy__link,
.social_icons__icon{
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
}

/* Footer media queries */
@media screen and (max-width: 768px){
  .footer__nav{
    display: flex;
    flex-direction: column;
  }

  .privacy__link,
  .social_icons__icon{
    display: flex;
    flex-direction: column;
  }
}

/* Main banner */
.main_banner{
  background: var(--green-light);
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
  margin: 0 auto 2rem auto;
  padding: 2rem 0 2rem 0;
  grid-column: 2/12;
}

.main_banner__title{
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

/* Main banner media queries */
@media screen and (max-width: 768px){
  .main_banner{
    grid-column: 1/-1;
  }
}

/* Cards */
.cards{
  grid-column: 1/-1;
}

.card-iced-shaken,
.prizes,
.cheerfully,
.bonus,
.celebrating,
.learn{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  background: wheat;
}

.prizes__img,
.card-iced-shaken__img,
.cheerfully__img,
.bonus__img,
.celebrating__img{
  width: 50%;
  background: var(--white);
}

.image_info{
  width: 100%;
}

.card-iced-shaken__info,
.prizes__info,
.cheerfully__info,
.bonus__info,
.celebrating__info,
.learn__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 3rem 0;
  width: 50%;
  background: var(--green-dark);
  font-family: var(--main-font);
  color: var(--white);
  text-align: center;
}

.prizes__title,
.card-iced-shaken__title,
.cheerfully__title,
.bonus__title,
.celebrating__title,
.learn__title{
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: 3rem;
  font-weight: var(--extra-bold);
  color: var(--white);
  text-align: center;
}

/* Cards media queries */
@media screen and (max-width: 768px){
  .card-iced-shaken,
  .prizes,
  .cheerfully,
  .bonus,
  .celebrating,
  .learn{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-iced-shaken__info,
  .prizes__info,
  .cheerfully__info,
  .bonus__info,
  .celebrating__info,
  .learn__info{
    width: 100%;
  }

  .prizes__img,
  .card-iced-shaken__img,
  .cheerfully__img,
  .bonus__img,
  .celebrating__img{
    width: 100%;
  }
}

/* Terms */
.restrictions{
  text-align: center;
  padding: 2rem;
}

.restrictions__text_rewards,
.availability__text{
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
}

/* -------- Mobile apps section -------- */ 
.app{
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}

.mobile_rewarding{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.mobile_rewarding__title{
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
  text-align: center;
}

.mobile_rewarding__text{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: var(--font-p);
  font-weight: var(--bold);
}

.platforms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background: wheat;
}

.platform_apple,
.platform_google{
  width: 50%;
  background-color: var(--gray);
}

.platform_apple__img,
.platform_google__img{
  width: 100%;
}

/* Media querie mobile section */
@media screen and (max-width: 768px){
  .platforms{
    flex-direction: column;
    width: 100%;
  }

  .platform_apple,
  .platform_google{
  width: 100%;
  background-color: var(--gray);
  }
}

/* -------- People section -------- */
.people_fist,
.see_next{
  text-align: center;
}

.people_fist__title,
.see_next__title{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: var(--font-title);
  font-weight: var(--bold);
  color: var(--green-dark);
}

.inclusion_diversity{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  background: wheat;
}

.inclusion_diversity__img{
  width: 50%;
  background: var(--white);
}

.inclusion_diversity__img_info{
  width: 100%;
}

.people_fist__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 3rem 0;
  width: 50%;
  background: var(--green-dark);
  font-family: var(--main-font);
  color: var(--white);
  text-align: center;
}

/* Media querie people  section */
@media screen and (max-width: 768px){
  .inclusion_diversity{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: wheat;
  }

  .inclusion_diversity__img{
    width: 100%;
    background: var(--white);
  }

  .people_fist__info{
    width: 100%;
  }
}

/* -------- Sign in section -------- */
.sign_in_form__title{
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: var(--font-title);
  font-weight: var(--bold);
  text-align: center;
}

.sign_in{
  grid-column: 1/-1;
}

.sign_in_form__title{
  padding: 3rem 0 3rem 0;
}

.sign_in_form{
  margin: 0 auto;
  width: 40%;
  background: var(--gray);
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.sign_in_inputs{
  display: flex;
  flex-direction: column;
}

.sign_in_input_user,
.sign_in_input_password{
  height: 30px;
  margin: 0 0 1rem 0;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.sign_in_box{
  text-align: center;
  margin: 0 auto;
  padding: 3rem 1rem 3rem 1rem;
  width: 40%;
  background: var(--green-light);
  border-radius: 5px;
}

.sign_in_box__title{
  font-weight: var(--extra-bold);
  color: var(--green-dark);
  font-size: var(--font-p-title);
  font-family: var(--main-font);
}

.sign_in_box__text{
  padding: 2rem 0 2rem 0;
}

.sign_in__submit{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.sign_in_box__btn{
  background: var(--green-dark);
  color: var(--white);
  border-radius: 100px;
  border: none;
}

.sign_in__forgot{
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.sign_in__btn{
  background: var(--green-dark);
  color: var(--white);
  padding: .9rem 2rem .9rem 2rem;
  border-radius: 100px;
  border: none;
}

.footer_store{
  display: flex;
  flex-direction: row;
}

/* Media querie Sign in section */
@media screen and (max-width: 768px){
  .sign_in_form{
    width: 90%;
    margin: 0 auto;
    background: var(--white);
  }  

  .footer_store{
    flex-direction: column;
  }

  .sign_in_box{
    width: 90%;
  }
}

/* -------- Create account section -------- */
.create_account{
  grid-column: 1/-1;
}

.crea_account__info{
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  text-align: center;
}

.create_account_form__title{
  padding: 1rem 0 1rem 0;
  font-family: var(--main-font);
  font-size: var(--font-title);
  text-align: center;
}

.create_account_form{
  margin: 0 auto;
  width: 40%;
  background: var(--gray);
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.create_account__personal_information,
.create_account__security,
.create_account__gift_card{
  display: flex;
  flex-direction: column;
}

.collect_stars,
.tems_of_use{
  padding: 1rem 0 1rem 0;
}

.create_account__btn_container{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.create_account__btn{
  background: var(--green-dark);
  color: var(--white);
  margin-top: 3rem;
  padding: .9rem 2rem .9rem 2rem;
  border-radius: 100px;
  border: none;
}

/* Media querie create account section */
@media screen and (max-width: 768px){
  .crea_account__info{
    width: 90%;
  }

  .create_account_form{
    margin: 0 auto;
    width: 90%;
    background: var(--white);
  }
}