
/* -------- Variables -------- */
:root{

  /* Colours */
  --green-light: #D4E9E2;
  --green-dark: #1E3932;
  --white: #ffffff;
  --black: #000000;

  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --l-height: 35px;

}

*{  
  text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- Index -------- */

/* Header */
.header{
    width: 100%;
    background-color: var(--white); 
}

.nav{
  width: 90%;
  margin: 0 auto;
  background-color: var(--white);
}

.nav__img{
    width: 50px;
    height: 50px;
}

/* Main banner */
.main_banner{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    background: var(--green-light);
    text-align: center;
}

.main_banner__title{
    width: 40%;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 auto;
    text-align: center;
}


/* Body sections */
.prizes{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-dark);   
}

.prizes__info_container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.prizes__title{
  font-family: var(--main-font);
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.prizes__p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--white);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.prizes__link{
  color: var(--white);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--white);
  border-radius: 100px;
}

.prizes__img_container{
  width: 50%;
  background: var(--white);
}

.iced_shaken{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-dark); 
}

.iced_shaken_info__container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.iced_shaken__title{
  font-family: var(--main-font);
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.iced_shaken__p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--white);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.iced_shaken__link{
  color: var(--white);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--white);
  border-radius: 100px;
}

.iced_shaken__img_container{
  width: 50%;
  background: var(--white);
}

.cheerfully{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-dark); 
}

.cheerfully__info_container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.cheerfully__title{
  font-family: var(--main-font);
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.cheerfully__p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--white);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.cheerfully__link{
  color: var(--white);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--white);
  border-radius: 100px;
}

.cheerfully__img_container{
  width: 50%;
  background: var(--white);
}

.good_day{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-light); 
}

.good_day__img_container{
  width: 50%;
  background: var(--white);
}

.good_day__info_container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.good_day__title{
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.good_day_p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.good_day__link{
  color: var(--black);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--black);
  border-radius: 100px;
}

.bonus{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-light); 
}

.bonus__info_container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.bonus__title{
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.bonus_p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.bonus__bold{
  font-weight: 700;
}

.bonus__link{
  color: var(--black);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--black);
  border-radius: 100px;
}

.bonus__img_container{
  width: 50%;
  background: var(--white);
}

.celebrating{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-light); 
}

.celebrating__info_container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.celebrating__title{
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.celebrating_p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.celebrating__link{
  color: var(--black);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--black);
  border-radius: 100px;
}

.celebrating__img_container{
  width: 50%;
  background: var(--white);
}

.new_starbucks{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--green-light);
}

.new_starbucks__info_container{
  width: 50%;
  padding: 2rem 0 2rem 0;
}

.new_starbucks__title{
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.new_starbucks_p{
  margin: 2rem;
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: var(--l-height);
}

.new_starbucks__link{
  color: var(--black);
  font-weight: 600;
  font-family: var(--main-font);
  padding: .5rem .8rem .5rem .8rem;
  font-size: .9rem;
  
  border: .1rem solid var(--black);
  border-radius: 100px;
}


/* terms */
.terms{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--white); 
}

.time{
  width: 90%;
  display: flex;
  margin: 0 auto;
  background: var(--white);
}

/* footer */


/* -------- Mobile apps section -------- */

/* -------- People section -------- */

/* -------- Sign in section -------- */

/* -------- Create account section -------- */